<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
  <alert type="success">
    <h1>Welcome, {{userName}}!</h1>
    <form>
      <input [(ngModel)]="userName" type="text" name="user">
    </form>
  </alert>
  <table id="recipes" class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Instruction</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let currentRecipe of recipes">
        <td>{{currentRecipe.title}}</td>
        <td>{{currentRecipe.description}}</td>
        <td>{{currentRecipe.instruction}}</td>
        <td><button (click)="editRecipe(currentRecipe)">Edit</button></td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="selectedRecipe">
    <h3>{{selectedTask.description}}</h3>
    <h3>Edit Task</h3>
    <label>Enter Recipe Name:</label>
    <input [(ngModel)]="selectedRecipe.title">
    <br>
    <label>Enter Recipe Description:</label>
    <input [(ngModel)]="selectedRecipe.description">
    <br>
    <label>Enter Recipe Instruction:</label>
    <input [(ngModel)]="selectedRecipe.instruction">
    <button (click)="finishedEditing()">Done</button>
  </div>
